In [1]:
# declare a list tasks whose products you want to use as inputs
upstream = ['get']
product = {
    "nb": "outputs/output.ipynb",
    "data": "outputs/clean_data.csv"
}

In [2]:
# Parameters
upstream = {"get": {"nb": "/Users/louie/College/JupyterPractice/PipelineTest/products/get.html", "data": "/Users/louie/College/JupyterPractice/PipelineTest/products/raw.csv"}}
product = {"nb": "/Users/louie/College/JupyterPractice/PipelineTest/outputs/output.ipynb", "data": "/Users/louie/College/JupyterPractice/PipelineTest/outputs/clean_data.csv"}

import numpy as np #linear algebra
import pandas as pd #data manipulation and analysis
import seaborn as sns #data visualization
import matplotlib.pyplot as plt #data visualization
import sklearn.preprocessing as skp #machine learning (preprocessing)
import sklearn.cluster as skc #machine learning (clustering)
import warnings # ignore warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np #linear algebra
import pandas as pd #data manipulation and analysis
from sklearn import preprocessing

## INTRO TO DATA

In [4]:
df = pd.read_csv(upstream['get']['data'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20004 entries, 0 to 20003
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   case_nbr              20000 non-null  float64
 1   created_dts           20000 non-null  object
 2   created_date          20000 non-null  object
 3   close_dts             19975 non-null  object
 4   last_updated_dts      20000 non-null  object
 5   contact_method        20000 non-null  float64
 6   tag_id                20000 non-null  float64
 7   prod_desc             20000 non-null  float64
 8   country_name_dawn     19433 non-null  object
 9   contact_method_name   20000 non-null  float64
 10  system_age            20000 non-null  float64
 11  total_inbounf_count   19738 non-null  float64
 12  dispatch_number       20000 non-null  float64
 13  parts_only            20000 non-null  float64
 14  commodity_desc        20000 non-null  float64
 15  dps_classification    20000 non-null  float64
 16  total_activity_count  18284 non-null  float64
 17  warranty_status       20000 non-null  float64
 18  new_warranty_type     20000 non-null  float64
dtypes: float64(14), object(5)
memory usage: 2.9+ MB

In [6]:
df.describe()

,case_nbr,contact_method,tag_id,prod_desc,contact_method_name,system_age,total_inbounf_count,dispatch_number,parts_only,commodity_desc,dps_classification,total_activity_count,warranty_status,new_warranty_type
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,19738.000000,20000.000000,20000.0,20000.000000,20000.0,18284.000000,20000.000000,20000.000000
mean,9408.493800,2.759800,9224.546250,8.297350,0.89780,1764.746500,3.074830,9952.192850,1.0,0.211350,0.0,8.060381,0.107800,6.190550
std,5435.213226,0.602098,5370.891902,2.833114,0.92255,6929.217548,2.065828,5743.441076,0.0,0.408276,0.0,7.992323,0.327848,3.893803
min,1.000000,0.000000,1.000000,0.000000,0.00000,-1493.000000,0.000000,1.000000,1.0,0.000000,0.0,1.000000,0.000000,0.000000
25%,4703.750000,3.000000,4561.750000,7.000000,0.00000,246.750000,2.000000,4977.750000,1.0,0.000000,0.0,4.000000,0.000000,2.000000
50%,9421.500000,3.000000,9210.500000,8.000000,1.00000,621.000000,3.000000,9957.500000,1.0,0.000000,0.0,5.000000,0.000000,9.000000
75%,14135.250000,3.000000,13888.250000,8.000000,2.00000,976.000000,3.000000,14925.250000,1.0,0.000000,0.0,9.000000,0.000000,9.000000
max,18811.000000,3.000000,18561.000000,19.000000,2.00000,43514.000000,49.000000,19894.000000,1.0,1.000000,0.0,136.000000,2.000000,9.000000

### Drop unnecessary Columns

In [7]:
# Specify the cols to drop
to_drop = [
    'parts_only', 'dps_classification', "dispatch_number"
]

# Drop them
df.drop(to_drop, axis='columns', inplace=True)

### Distribution of Columns

In [8]:
# # Visualize the distribution of each variable.
# plt.figure(figsize=(12,16))
# for i, j in enumerate(df.describe().columns):
#     plt.subplot(5,2, i+1)
#     sns.distplot(x=df[j])
#     plt.xlabel(j)
#     plt.title('{} Distribution'.format(j))
#     plt.subplots_adjust(wspace=.2, hspace=.5)
#     plt.tight_layout()
# plt.show()

## OUTLIERS FOR SYSTEM_AGE

In [9]:

df.loc[df['system_age'] > 10000

       ]

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,system_age,total_inbounf_count,commodity_desc,total_activity_count,warranty_status,new_warranty_type
37,38.0,00:08:57,5/21/2018 0:00,00:05:04,00:20:29,3.0,38.0,8.0,NaN,0.0,43239.0,2.0,0.0,27.0,0.0,9.0
58,59.0,00:48:44,10/08/2018 00:00,00:42:09,00:42:09,1.0,59.0,7.0,NaN,1.0,43379.0,2.0,0.0,11.0,0.0,9.0
64,65.0,00:26:27,02/01/2019 00:00,00:38:37,00:52:00,3.0,65.0,7.0,NaN,0.0,43495.0,5.0,0.0,8.0,1.0,4.0
105,106.0,00:07:58,12/19/2018 0:00,00:44:38,00:37:32,3.0,106.0,13.0,NaN,0.0,43451.0,0.0,0.0,NaN,1.0,4.0
164,165.0,00:31:52,6/16/2018 0:00,00:42:02,00:20:31,3.0,165.0,7.0,NaN,0.0,43265.0,2.0,0.0,8.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19811,18678.0,00:06:43,12/18/2018 0:00,00:10:37,00:21:16,2.0,18432.0,7.0,NaN,2.0,43450.0,3.0,0.0,16.0,2.0,0.0
19833,18696.0,00:55:29,12/03/2018 00:00,00:18:21,00:44:49,3.0,18449.0,7.0,NaN,0.0,43435.0,6.0,0.0,21.0,1.0,4.0
19868,18726.0,00:00:53,6/19/2018 0:00,00:34:06,00:20:57,3.0,18479.0,7.0,NaN,0.0,43268.0,2.0,0.0,8.0,2.0,0.0
19891,18696.0,00:55:29,12/03/2018 00:00,00:18:21,00:44:49,3.0,18449.0,7.0,NaN,0.0,43435.0,6.0,0.0,21.0,1.0,4.0
19973,18805.0,00:24:34,1/19/2019 0:00,00:26:30,00:50:33,1.0,18555.0,5.0,NaN,2.0,43482.0,3.0,0.0,15.0,0.0,0.0

In [10]:
df.system_age[df['system_age'] > 10000] = None

/var/folders/5p/hj6g32gj0_700q3tgctb49fh0000gn/T/ipykernel_29810/1014894147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.system_age[df['system_age'] > 10000] = None

### Filling missing data with mean

In [11]:
df.system_age[df['system_age'] < 0] = None
df.system_age.fillna(df.system_age.mean(), inplace=True)

/var/folders/5p/hj6g32gj0_700q3tgctb49fh0000gn/T/ipykernel_29810/2677486450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.system_age[df['system_age'] < 0] = None

In [12]:
df.loc[df['system_age'].isnull()
       ]

Empty DataFrame
Columns: [case_nbr, created_dts, created_date, close_dts, last_updated_dts, contact_method, tag_id, prod_desc, country_name_dawn, contact_method_name, system_age, total_inbounf_count, commodity_desc, total_activity_count, warranty_status, new_warranty_type]
Index: []

## DROPPING DUPLICATE ROWS

In [13]:
df.duplicated().sum()

1050

In [14]:
df.loc[df.
       duplicated(), :]

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,system_age,total_inbounf_count,commodity_desc,total_activity_count,warranty_status,new_warranty_type
3590,10.0,00:35:43,2/20/2019 0:00,00:42:10,00:14:32,3.0,10.0,8.0,Brazil,2.0,807.000000,3.0,0.0,4.0,0.0,9.0
3592,12.0,00:35:20,1/31/2019 0:00,00:51:32,00:34:15,3.0,12.0,8.0,Japan,2.0,861.000000,5.0,0.0,8.0,0.0,9.0
3612,33.0,00:26:58,2/21/2019 0:00,00:38:18,00:46:02,3.0,33.0,8.0,India,2.0,1077.000000,3.0,0.0,10.0,0.0,0.0
3622,44.0,00:32:03,02/07/2019 00:00,00:24:16,00:51:42,3.0,44.0,5.0,Korea,2.0,375.000000,5.0,1.0,34.0,0.0,0.0
3637,60.0,00:14:23,12/06/2018 00:00,00:50:33,00:49:45,1.0,60.0,7.0,United States,1.0,598.000000,2.0,0.0,4.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19998,9652.0,00:24:55,12/25/2018 0:00,00:11:44,00:08:59,3.0,9569.0,7.0,Japan,2.0,391.000000,8.0,0.0,24.0,0.0,9.0
19999,9652.0,00:24:55,12/25/2018 0:00,00:11:44,00:08:59,3.0,9569.0,7.0,Japan,2.0,391.000000,8.0,0.0,24.0,0.0,9.0
20001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,692.562918,NaN,NaN,NaN,NaN,NaN
20002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,692.562918,NaN,NaN,NaN,NaN,NaN
20003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,692.562918,NaN,NaN,NaN,NaN,NaN

In [15]:
df = df.drop_duplicates(keep=False)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18146 entries, 0 to 19993
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   case_nbr              18146 non-null  float64
 1   created_dts           18146 non-null  object
 2   created_date          18146 non-null  object
 3   close_dts             18123 non-null  object
 4   last_updated_dts      18146 non-null  object
 5   contact_method        18146 non-null  float64
 6   tag_id                18146 non-null  float64
 7   prod_desc             18146 non-null  float64
 8   country_name_dawn     17602 non-null  object
 9   contact_method_name   18146 non-null  float64
 10  system_age            18146 non-null  float64
 11  total_inbounf_count   17911 non-null  float64
 12  commodity_desc        18146 non-null  float64
 13  total_activity_count  16515 non-null  float64
 14  warranty_status       18146 non-null  float64
 15  new_warranty_type     18146 non-null  float64
dtypes: float64(11), object(5)
memory usage: 2.4+ MB

## CONVERTING TO DATETIME + CREATING NEW COLUMN

In [17]:
dft = df.copy()
dft["close_dts"] = pd.to_datetime(df.close_dts, format="%H:%M:%S", errors='raise')
dft["close_dts"] =dft["close_dts"].dt.time

In [18]:
dft.head(10)

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,system_age,total_inbounf_count,commodity_desc,total_activity_count,warranty_status,new_warranty_type
0,1.0,00:12:00,02/01/2019 00:00,00:57:26,00:46:57,2.0,1.0,8.0,United Kingdom,0.0,677.000000,4.0,1.0,9.0,0.0,9.0
1,2.0,00:11:48,02/06/2019 00:00,00:39:52,00:12:16,3.0,2.0,4.0,New Zealand,2.0,1738.000000,3.0,1.0,7.0,1.0,4.0
2,3.0,00:47:10,10/05/2018 00:00,00:35:51,00:35:06,3.0,3.0,7.0,United States,0.0,692.562918,4.0,0.0,8.0,1.0,4.0
3,4.0,00:52:45,11/14/2018 0:00,00:27:59,00:49:22,3.0,4.0,8.0,United States,0.0,1075.000000,3.0,1.0,5.0,0.0,9.0
4,5.0,00:59:46,01/07/2019 00:00,00:57:15,00:31:51,3.0,5.0,11.0,United States,0.0,138.000000,3.0,0.0,5.0,0.0,9.0
5,6.0,00:06:11,10/31/2018 0:00,00:50:22,00:49:53,1.0,6.0,8.0,Japan,1.0,1799.000000,2.0,1.0,4.0,0.0,9.0
6,7.0,00:59:34,6/26/2018 0:00,00:21:25,00:21:53,3.0,7.0,8.0,United States,0.0,123.000000,2.0,1.0,3.0,0.0,9.0
7,8.0,00:34:37,8/15/2018 0:00,00:48:29,00:47:51,3.0,8.0,8.0,Colombia,0.0,1324.000000,3.0,0.0,4.0,0.0,9.0
8,9.0,00:23:34,12/11/2018 00:00,00:02:56,00:02:34,3.0,9.0,7.0,United States,0.0,1014.000000,3.0,0.0,5.0,0.0,9.0
10,11.0,00:21:12,10/11/2018 00:00,00:33:45,00:33:46,3.0,11.0,8.0,Mexico,0.0,1049.000000,2.0,0.0,NaN,0.0,0.0

In [19]:
dft["created_dts"] = pd.to_datetime(df.created_dts, format = "%H:%M:%S" , errors='raise')
dft["created_dts"] =dft["created_dts"].dt.time

In [20]:
dft.head(10
        )

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,system_age,total_inbounf_count,commodity_desc,total_activity_count,warranty_status,new_warranty_type
0,1.0,00:12:00,02/01/2019 00:00,00:57:26,00:46:57,2.0,1.0,8.0,United Kingdom,0.0,677.000000,4.0,1.0,9.0,0.0,9.0
1,2.0,00:11:48,02/06/2019 00:00,00:39:52,00:12:16,3.0,2.0,4.0,New Zealand,2.0,1738.000000,3.0,1.0,7.0,1.0,4.0
2,3.0,00:47:10,10/05/2018 00:00,00:35:51,00:35:06,3.0,3.0,7.0,United States,0.0,692.562918,4.0,0.0,8.0,1.0,4.0
3,4.0,00:52:45,11/14/2018 0:00,00:27:59,00:49:22,3.0,4.0,8.0,United States,0.0,1075.000000,3.0,1.0,5.0,0.0,9.0
4,5.0,00:59:46,01/07/2019 00:00,00:57:15,00:31:51,3.0,5.0,11.0,United States,0.0,138.000000,3.0,0.0,5.0,0.0,9.0
5,6.0,00:06:11,10/31/2018 0:00,00:50:22,00:49:53,1.0,6.0,8.0,Japan,1.0,1799.000000,2.0,1.0,4.0,0.0,9.0
6,7.0,00:59:34,6/26/2018 0:00,00:21:25,00:21:53,3.0,7.0,8.0,United States,0.0,123.000000,2.0,1.0,3.0,0.0,9.0
7,8.0,00:34:37,8/15/2018 0:00,00:48:29,00:47:51,3.0,8.0,8.0,Colombia,0.0,1324.000000,3.0,0.0,4.0,0.0,9.0
8,9.0,00:23:34,12/11/2018 00:00,00:02:56,00:02:34,3.0,9.0,7.0,United States,0.0,1014.000000,3.0,0.0,5.0,0.0,9.0
10,11.0,00:21:12,10/11/2018 00:00,00:33:45,00:33:46,3.0,11.0,8.0,Mexico,0.0,1049.000000,2.0,0.0,NaN,0.0,0.0

In [21]:

df["created_date"] = pd.to_datetime(df.created_date, format = "%m/%d/%Y %H:%M" , errors='raise')

## DEALING WITH MISSING DATA

In [22]:
df.head(10)

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,system_age,total_inbounf_count,commodity_desc,total_activity_count,warranty_status,new_warranty_type
0,1.0,00:12:00,2019-02-01,00:57:26,00:46:57,2.0,1.0,8.0,United Kingdom,0.0,677.000000,4.0,1.0,9.0,0.0,9.0
1,2.0,00:11:48,2019-02-06,00:39:52,00:12:16,3.0,2.0,4.0,New Zealand,2.0,1738.000000,3.0,1.0,7.0,1.0,4.0
2,3.0,00:47:10,2018-10-05,00:35:51,00:35:06,3.0,3.0,7.0,United States,0.0,692.562918,4.0,0.0,8.0,1.0,4.0
3,4.0,00:52:45,2018-11-14,00:27:59,00:49:22,3.0,4.0,8.0,United States,0.0,1075.000000,3.0,1.0,5.0,0.0,9.0
4,5.0,00:59:46,2019-01-07,00:57:15,00:31:51,3.0,5.0,11.0,United States,0.0,138.000000,3.0,0.0,5.0,0.0,9.0
5,6.0,00:06:11,2018-10-31,00:50:22,00:49:53,1.0,6.0,8.0,Japan,1.0,1799.000000,2.0,1.0,4.0,0.0,9.0
6,7.0,00:59:34,2018-06-26,00:21:25,00:21:53,3.0,7.0,8.0,United States,0.0,123.000000,2.0,1.0,3.0,0.0,9.0
7,8.0,00:34:37,2018-08-15,00:48:29,00:47:51,3.0,8.0,8.0,Colombia,0.0,1324.000000,3.0,0.0,4.0,0.0,9.0
8,9.0,00:23:34,2018-12-11,00:02:56,00:02:34,3.0,9.0,7.0,United States,0.0,1014.000000,3.0,0.0,5.0,0.0,9.0
10,11.0,00:21:12,2018-10-11,00:33:45,00:33:46,3.0,11.0,8.0,Mexico,0.0,1049.000000,2.0,0.0,NaN,0.0,0.0

In [23]:

df["created_dts"] = pd.to_datetime(df.created_dts, format = "%H:%M:%S" , errors='raise')
df["close_dts"] = pd.to_datetime(df.close_dts, format="%H:%M:%S", errors='raise')

In [24]:
df['journey_time'] = df['close_dts'] - df["created_dts"]
df.journey_time[df['journey_time'].dt.days != 0] = None

/var/folders/5p/hj6g32gj0_700q3tgctb49fh0000gn/T/ipykernel_29810/191989437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.journey_time[df['journey_time'].dt.days != 0] = None

In [25]:
df.head(10)

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,system_age,total_inbounf_count,commodity_desc,total_activity_count,warranty_status,new_warranty_type,journey_time
0,1.0,1900-01-01 00:12:00,2019-02-01,1900-01-01 00:57:26,00:46:57,2.0,1.0,8.0,United Kingdom,0.0,677.000000,4.0,1.0,9.0,0.0,9.0,0 days 00:45:26
1,2.0,1900-01-01 00:11:48,2019-02-06,1900-01-01 00:39:52,00:12:16,3.0,2.0,4.0,New Zealand,2.0,1738.000000,3.0,1.0,7.0,1.0,4.0,0 days 00:28:04
2,3.0,1900-01-01 00:47:10,2018-10-05,1900-01-01 00:35:51,00:35:06,3.0,3.0,7.0,United States,0.0,692.562918,4.0,0.0,8.0,1.0,4.0,NaT
3,4.0,1900-01-01 00:52:45,2018-11-14,1900-01-01 00:27:59,00:49:22,3.0,4.0,8.0,United States,0.0,1075.000000,3.0,1.0,5.0,0.0,9.0,NaT
4,5.0,1900-01-01 00:59:46,2019-01-07,1900-01-01 00:57:15,00:31:51,3.0,5.0,11.0,United States,0.0,138.000000,3.0,0.0,5.0,0.0,9.0,NaT
5,6.0,1900-01-01 00:06:11,2018-10-31,1900-01-01 00:50:22,00:49:53,1.0,6.0,8.0,Japan,1.0,1799.000000,2.0,1.0,4.0,0.0,9.0,0 days 00:44:11
6,7.0,1900-01-01 00:59:34,2018-06-26,1900-01-01 00:21:25,00:21:53,3.0,7.0,8.0,United States,0.0,123.000000,2.0,1.0,3.0,0.0,9.0,NaT
7,8.0,1900-01-01 00:34:37,2018-08-15,1900-01-01 00:48:29,00:47:51,3.0,8.0,8.0,Colombia,0.0,1324.000000,3.0,0.0,4.0,0.0,9.0,0 days 00:13:52
8,9.0,1900-01-01 00:23:34,2018-12-11,1900-01-01 00:02:56,00:02:34,3.0,9.0,7.0,United States,0.0,1014.000000,3.0,0.0,5.0,0.0,9.0,NaT
10,11.0,1900-01-01 00:21:12,2018-10-11,1900-01-01 00:33:45,00:33:46,3.0,11.0,8.0,Mexico,0.0,1049.000000,2.0,0.0,NaN,0.0,0.0,0 days 00:12:33

In [26]:

df["seconds"] = df.journey_time.dt.total_seconds()
df.head(10)

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,system_age,total_inbounf_count,commodity_desc,total_activity_count,warranty_status,new_warranty_type,journey_time,seconds
0,1.0,1900-01-01 00:12:00,2019-02-01,1900-01-01 00:57:26,00:46:57,2.0,1.0,8.0,United Kingdom,0.0,677.000000,4.0,1.0,9.0,0.0,9.0,0 days 00:45:26,2726.0
1,2.0,1900-01-01 00:11:48,2019-02-06,1900-01-01 00:39:52,00:12:16,3.0,2.0,4.0,New Zealand,2.0,1738.000000,3.0,1.0,7.0,1.0,4.0,0 days 00:28:04,1684.0
2,3.0,1900-01-01 00:47:10,2018-10-05,1900-01-01 00:35:51,00:35:06,3.0,3.0,7.0,United States,0.0,692.562918,4.0,0.0,8.0,1.0,4.0,NaT,NaN
3,4.0,1900-01-01 00:52:45,2018-11-14,1900-01-01 00:27:59,00:49:22,3.0,4.0,8.0,United States,0.0,1075.000000,3.0,1.0,5.0,0.0,9.0,NaT,NaN
4,5.0,1900-01-01 00:59:46,2019-01-07,1900-01-01 00:57:15,00:31:51,3.0,5.0,11.0,United States,0.0,138.000000,3.0,0.0,5.0,0.0,9.0,NaT,NaN
5,6.0,1900-01-01 00:06:11,2018-10-31,1900-01-01 00:50:22,00:49:53,1.0,6.0,8.0,Japan,1.0,1799.000000,2.0,1.0,4.0,0.0,9.0,0 days 00:44:11,2651.0
6,7.0,1900-01-01 00:59:34,2018-06-26,1900-01-01 00:21:25,00:21:53,3.0,7.0,8.0,United States,0.0,123.000000,2.0,1.0,3.0,0.0,9.0,NaT,NaN
7,8.0,1900-01-01 00:34:37,2018-08-15,1900-01-01 00:48:29,00:47:51,3.0,8.0,8.0,Colombia,0.0,1324.000000,3.0,0.0,4.0,0.0,9.0,0 days 00:13:52,832.0
8,9.0,1900-01-01 00:23:34,2018-12-11,1900-01-01 00:02:56,00:02:34,3.0,9.0,7.0,United States,0.0,1014.000000,3.0,0.0,5.0,0.0,9.0,NaT,NaN
10,11.0,1900-01-01 00:21:12,2018-10-11,1900-01-01 00:33:45,00:33:46,3.0,11.0,8.0,Mexico,0.0,1049.000000,2.0,0.0,NaN,0.0,0.0,0 days 00:12:33,753.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18146 entries, 0 to 19993
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   case_nbr              18146 non-null  float64
 1   created_dts           18146 non-null  datetime64[ns]
 2   created_date          18146 non-null  datetime64[ns]
 3   close_dts             18123 non-null  datetime64[ns]
 4   last_updated_dts      18146 non-null  object
 5   contact_method        18146 non-null  float64
 6   tag_id                18146 non-null  float64
 7   prod_desc             18146 non-null  float64
 8   country_name_dawn     17602 non-null  object
 9   contact_method_name   18146 non-null  float64
 10  system_age            18146 non-null  float64
 11  total_inbounf_count   17911 non-null  float64
 12  commodity_desc        18146 non-null  float64
 13  total_activity_count  16515 non-null  float64
 14  warranty_status       18146 non-null  float64
 15  new_warranty_type     18146 non-null  float64
 16  journey_time          9659 non-null   timedelta64[ns]
 17  seconds               9659 non-null   float64
dtypes: datetime64[ns](3), float64(12), object(2), timedelta64[ns](1)
memory usage: 2.6+ MB

In [28]:
missing_data = pd.DataFrame({'total_missing': df.isnull().sum(), 'perc_missing': (df.isnull().sum()/18146)*100})
missing_data

                      total_missing  perc_missing
case_nbr                          0      0.000000
created_dts                       0      0.000000
created_date                      0      0.000000
close_dts                        23      0.126750
last_updated_dts                  0      0.000000
contact_method                    0      0.000000
tag_id                            0      0.000000
prod_desc                         0      0.000000
country_name_dawn               544      2.997906
contact_method_name               0      0.000000
system_age                        0      0.000000
total_inbounf_count             235      1.295051
commodity_desc                    0      0.000000
total_activity_count           1631      8.988207
warranty_status                   0      0.000000
new_warranty_type                 0      0.000000
journey_time                   8487     46.770638
seconds                        8487     46.770638

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18146 entries, 0 to 19993
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   case_nbr              18146 non-null  float64
 1   created_dts           18146 non-null  datetime64[ns]
 2   created_date          18146 non-null  datetime64[ns]
 3   close_dts             18123 non-null  datetime64[ns]
 4   last_updated_dts      18146 non-null  object
 5   contact_method        18146 non-null  float64
 6   tag_id                18146 non-null  float64
 7   prod_desc             18146 non-null  float64
 8   country_name_dawn     17602 non-null  object
 9   contact_method_name   18146 non-null  float64
 10  system_age            18146 non-null  float64
 11  total_inbounf_count   17911 non-null  float64
 12  commodity_desc        18146 non-null  float64
 13  total_activity_count  16515 non-null  float64
 14  warranty_status       18146 non-null  float64
 15  new_warranty_type     18146 non-null  float64
 16  journey_time          9659 non-null   timedelta64[ns]
 17  seconds               9659 non-null   float64
dtypes: datetime64[ns](3), float64(12), object(2), timedelta64[ns](1)
memory usage: 2.6+ MB

### Filling missing values for countries with "No Country"

In [30]:
df.country_name_dawn.fillna("No Country", inplace=True)

In [31]:
df.total_activity_count.fillna(df.total_activity_count.mean(), inplace=True)
df.total_inbounf_count.fillna(df.total_inbounf_count.mean(), inplace=True)

In [32]:
df.journey_time.fillna(df.journey_time.mean(), inplace=True)
df.close_dts.fillna(df.close_dts.mean(), inplace=True)

In [33]:
df.seconds.fillna(df.seconds.mean(), inplace= True)

In [34]:
df.country_name_dawn.isnull().sum()

0

## GRAPHS + CONVERTING 6 COLUMNS TO CATEGORY DTYPE

### Checking possible columns to convert to category dtype

### Convert to category (commented due to adding more graphs)

In [35]:
#df.commodity_desc = df.commodity_desc.astype('category')
#df.prod_desc = df.prod_desc.astype('category')
#df.contact_method_name = df.contact_method_name.astype('category')
#df.contact_method = df.contact_method.astype('category')
#df.new_warranty_type = df.new_warranty_type.astype('category')
#df.warranty_status = df.warranty_status.astype('category')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18146 entries, 0 to 19993
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   case_nbr              18146 non-null  float64
 1   created_dts           18146 non-null  datetime64[ns]
 2   created_date          18146 non-null  datetime64[ns]
 3   close_dts             18146 non-null  datetime64[ns]
 4   last_updated_dts      18146 non-null  object
 5   contact_method        18146 non-null  float64
 6   tag_id                18146 non-null  float64
 7   prod_desc             18146 non-null  float64
 8   country_name_dawn     18146 non-null  object
 9   contact_method_name   18146 non-null  float64
 10  system_age            18146 non-null  float64
 11  total_inbounf_count   18146 non-null  float64
 12  commodity_desc        18146 non-null  float64
 13  total_activity_count  18146 non-null  float64
 14  warranty_status       18146 non-null  float64
 15  new_warranty_type     18146 non-null  float64
 16  journey_time          18146 non-null  timedelta64[ns]
 17  seconds               18146 non-null  float64
dtypes: datetime64[ns](3), float64(12), object(2), timedelta64[ns](1)
memory usage: 2.6+ MB

### Comparing similar columns

### Adding Continent Column

In [37]:
asia = ['Afghanistan', 'Bahrain', 'United Arab Emirates','Saudi Arabia', 'Kuwait', 'Qatar', 'Oman',
       'Sultanate of Oman','Lebanon', 'Iraq', 'Yemen', 'Pakistan', 'Lebanon', 'Philippines', 'Jordan', 'Taiwan',
       'Indonesia', 'Singapore', 'China', 'Korea', 'Hong Kong', 'Malaysia', 'India', 'APJ Support', 'Japan', 'Thailand']
europe = ['Germany','Spain', 'France', 'Italy', 'Netherlands', 'Norway', 'Sweden','Czech Republic', 'Finland',
          'Denmark', 'Switzerland', 'United Kingdom', 'Ireland', 'Poland', 'Greece','Austria',
          'Bulgaria', 'Hungary', 'Luxembourg', 'Romania' , 'Slovakia', 'Estonia', 'Slovenia','Portugal',
          'Croatia', 'Lithuania', 'Latvia','Serbia', 'Estonia', 'Iceland', 'Western Europe' , 'CEE eCis' , 'Belgium']
sa =['Chile', 'Peru', 'Argentina', 'Colombia', 'Mexico', 'Brazil']
na = ['United States', 'Canada']
africa = ['South Africa']
oceania = ['Australia', 'New Zealand']


def GetConti(country):
    if country in asia:
        return "Asia"
    elif country in europe:
        return "Europe"
    elif country in africa:
        return "Africa"
    elif country in na:
        return "North America"
    elif country in sa:
        return "South America"
    elif country in oceania:
        return "Oceania"
    else:
        return "No country"


df['Continent'] = df['country_name_dawn'].apply(lambda x: GetConti(x))

In [38]:
df.head(10)

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,system_age,total_inbounf_count,commodity_desc,total_activity_count,warranty_status,new_warranty_type,journey_time,seconds,Continent
0,1.0,1900-01-01 00:12:00,2019-02-01,1900-01-01 00:57:26,00:46:57,2.0,1.0,8.0,United Kingdom,0.0,677.000000,4.0,1.0,9.000000,0.0,9.0,0 days 00:45:26,2726.000000,Europe
1,2.0,1900-01-01 00:11:48,2019-02-06,1900-01-01 00:39:52,00:12:16,3.0,2.0,4.0,New Zealand,2.0,1738.000000,3.0,1.0,7.000000,1.0,4.0,0 days 00:28:04,1684.000000,Oceania
2,3.0,1900-01-01 00:47:10,2018-10-05,1900-01-01 00:35:51,00:35:06,3.0,3.0,7.0,United States,0.0,692.562918,4.0,0.0,8.000000,1.0,4.0,0 days 00:19:23.595196190,1163.595196,North America
3,4.0,1900-01-01 00:52:45,2018-11-14,1900-01-01 00:27:59,00:49:22,3.0,4.0,8.0,United States,0.0,1075.000000,3.0,1.0,5.000000,0.0,9.0,0 days 00:19:23.595196190,1163.595196,North America
4,5.0,1900-01-01 00:59:46,2019-01-07,1900-01-01 00:57:15,00:31:51,3.0,5.0,11.0,United States,0.0,138.000000,3.0,0.0,5.000000,0.0,9.0,0 days 00:19:23.595196190,1163.595196,North America
5,6.0,1900-01-01 00:06:11,2018-10-31,1900-01-01 00:50:22,00:49:53,1.0,6.0,8.0,Japan,1.0,1799.000000,2.0,1.0,4.000000,0.0,9.0,0 days 00:44:11,2651.000000,Asia
6,7.0,1900-01-01 00:59:34,2018-06-26,1900-01-01 00:21:25,00:21:53,3.0,7.0,8.0,United States,0.0,123.000000,2.0,1.0,3.000000,0.0,9.0,0 days 00:19:23.595196190,1163.595196,North America
7,8.0,1900-01-01 00:34:37,2018-08-15,1900-01-01 00:48:29,00:47:51,3.0,8.0,8.0,Colombia,0.0,1324.000000,3.0,0.0,4.000000,0.0,9.0,0 days 00:13:52,832.000000,South America
8,9.0,1900-01-01 00:23:34,2018-12-11,1900-01-01 00:02:56,00:02:34,3.0,9.0,7.0,United States,0.0,1014.000000,3.0,0.0,5.000000,0.0,9.0,0 days 00:19:23.595196190,1163.595196,North America
10,11.0,1900-01-01 00:21:12,2018-10-11,1900-01-01 00:33:45,00:33:46,3.0,11.0,8.0,Mexico,0.0,1049.000000,2.0,0.0,7.726491,0.0,0.0,0 days 00:12:33,753.000000,South America

### Encoding Continents

In [39]:
from sklearn.preprocessing import OneHotEncoder


le = preprocessing.LabelEncoder()
df['continent_cat'] = le.fit_transform(df['Continent'])
df['country_cat'] = le.fit_transform(df['country_name_dawn'])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18146 entries, 0 to 19993
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   case_nbr              18146 non-null  float64
 1   created_dts           18146 non-null  datetime64[ns]
 2   created_date          18146 non-null  datetime64[ns]
 3   close_dts             18146 non-null  datetime64[ns]
 4   last_updated_dts      18146 non-null  object
 5   contact_method        18146 non-null  float64
 6   tag_id                18146 non-null  float64
 7   prod_desc             18146 non-null  float64
 8   country_name_dawn     18146 non-null  object
 9   contact_method_name   18146 non-null  float64
 10  system_age            18146 non-null  float64
 11  total_inbounf_count   18146 non-null  float64
 12  commodity_desc        18146 non-null  float64
 13  total_activity_count  18146 non-null  float64
 14  warranty_status       18146 non-null  float64
 15  new_warranty_type     18146 non-null  float64
 16  journey_time          18146 non-null  timedelta64[ns]
 17  seconds               18146 non-null  float64
 18  Continent             18146 non-null  object
 19  continent_cat         18146 non-null  int64
 20  country_cat           18146 non-null  int64
dtypes: datetime64[ns](3), float64(12), int64(2), object(3), timedelta64[ns](1)
memory usage: 3.0+ MB

In [41]:
df['date_delta'] = (df['created_date'] - df['created_date'].min())  / np.timedelta64(1,'D')

In [42]:
df.head(10)

,case_nbr,created_dts,created_date,close_dts,last_updated_dts,contact_method,tag_id,prod_desc,country_name_dawn,contact_method_name,...,commodity_desc,total_activity_count,warranty_status,new_warranty_type,journey_time,seconds,Continent,continent_cat,country_cat,date_delta
0,1.0,1900-01-01 00:12:00,2019-02-01,1900-01-01 00:57:26,00:46:57,2.0,1.0,8.0,United Kingdom,0.0,...,1.0,9.000000,0.0,9.0,0 days 00:45:26,2726.000000,Europe,2,39,283.0
1,2.0,1900-01-01 00:11:48,2019-02-06,1900-01-01 00:39:52,00:12:16,3.0,2.0,4.0,New Zealand,2.0,...,1.0,7.000000,1.0,4.0,0 days 00:28:04,1684.000000,Oceania,5,26,288.0
2,3.0,1900-01-01 00:47:10,2018-10-05,1900-01-01 00:35:51,00:35:06,3.0,3.0,7.0,United States,0.0,...,0.0,8.000000,1.0,4.0,0 days 00:19:23.595196190,1163.595196,North America,4,40,164.0
3,4.0,1900-01-01 00:52:45,2018-11-14,1900-01-01 00:27:59,00:49:22,3.0,4.0,8.0,United States,0.0,...,1.0,5.000000,0.0,9.0,0 days 00:19:23.595196190,1163.595196,North America,4,40,204.0
4,5.0,1900-01-01 00:59:46,2019-01-07,1900-01-01 00:57:15,00:31:51,3.0,5.0,11.0,United States,0.0,...,0.0,5.000000,0.0,9.0,0 days 00:19:23.595196190,1163.595196,North America,4,40,258.0
5,6.0,1900-01-01 00:06:11,2018-10-31,1900-01-01 00:50:22,00:49:53,1.0,6.0,8.0,Japan,1.0,...,1.0,4.000000,0.0,9.0,0 days 00:44:11,2651.000000,Asia,1,21,190.0
6,7.0,1900-01-01 00:59:34,2018-06-26,1900-01-01 00:21:25,00:21:53,3.0,7.0,8.0,United States,0.0,...,1.0,3.000000,0.0,9.0,0 days 00:19:23.595196190,1163.595196,North America,4,40,63.0
7,8.0,1900-01-01 00:34:37,2018-08-15,1900-01-01 00:48:29,00:47:51,3.0,8.0,8.0,Colombia,0.0,...,0.0,4.000000,0.0,9.0,0 days 00:13:52,832.000000,South America,6,10,113.0
8,9.0,1900-01-01 00:23:34,2018-12-11,1900-01-01 00:02:56,00:02:34,3.0,9.0,7.0,United States,0.0,...,0.0,5.000000,0.0,9.0,0 days 00:19:23.595196190,1163.595196,North America,4,40,231.0
10,11.0,1900-01-01 00:21:12,2018-10-11,1900-01-01 00:33:45,00:33:46,3.0,11.0,8.0,Mexico,0.0,...,0.0,7.726491,0.0,0.0,0 days 00:12:33,753.000000,South America,6,24,170.0

In [43]:
to_drop2 = [
    "last_updated_dts", "close_dts",
    "created_dts", "created_date", "tag_id",  "contact_method", "contact_method_name",
    "journey_time", "seconds"
]

# Drop them
df.drop(to_drop2, axis='columns', inplace=True)

In [44]:
df.to_csv(str(product['data']), index=False)